/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end; }
  ul li {
    height: 100%;
    margin: 0 1px;
    padding-right: 50px;
    color: #FFF;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    cursor: pointer; }
    ul li:hover {
      color: #BBB; }

#navBar {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(black, transparent);
  position: absolute;
  z-index: 2; }
  #navBar #navBarContent {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center; }

#navBarLogo {
  height: 200%;
  width: 10%;
  position: absolute;
  top: 12px;
  left: 15px;
  background: url("../css/imgs/soundBureauLogo.png") no-repeat;
  background-size: contain;
  z-index: -1; }
  #navBarLogo:hover {
    cursor: pointer; }

#jumboTron {
  height: 150%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../css/imgs/soundBureauHero.jpeg") no-repeat;
  background-size: cover; }
  #jumboTron span {
    font-family: 'Cantarell',sans-serif;
    font-size: 3.4em;
    color: #FFF;
    position: relative;
    text-align: center; }

#sideKicks {
  height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center; }
  #sideKicks #sideKick1 {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../css/imgs/dadandFernandoSoundBureau.jpg") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid;
    border-color: #505356; }
    #sideKicks #sideKick1:hover {
      cursor: pointer; }
      #sideKicks #sideKick1:hover .overlay {
        display: flex;
        justify-content: center;
        align-items: center; }
  #sideKicks #sideKick2 {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../css/imgs/exampleVenue.jpg") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border: solid;
    border-color: #505356; }
    #sideKicks #sideKick2:hover {
      cursor: pointer; }
      #sideKicks #sideKick2:hover .overlay {
        display: flex;
        justify-content: center;
        align-items: center; }

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  color: #FFF; }

#footer {
  height: 78px;
  width: 100vw;
  position: relative;
  background-color: #414141;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  bottom: 0; }
  #footer #footerContent {
    display: flex;
    align-items: center; }
    #footer #footerContent li {
      font-size: 1.5em;
      color: #808080; }
    #footer #footerContent #footerIcon {
      height: 50px;
      width: 50px;
      background: url("../css/imgs/Facebook-Icon-Grijs.png") no-repeat;
      background-size: cover;
      position: relative;
      top: auto;
      left: -5%; }
      #footer #footerContent #footerIcon:hover {
        cursor: pointer; }

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif; }

p {
  font-family: 'Cantarell', sans-serif;
  font-size: 1.5em;
  text-align: center; }
