// CORE SASS FILE


// Imported partials
@import 'components/reset';
@import "components/navbar";

// Master

body{
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  // background: url('../css/imgs/soundBureauHero.jpeg') no-repeat;
  background-size: cover;
}
