// This is the fotter of the page

// IDs

#footer{
  height: 78px;
  width: 100vw;
  position: relative;
  top: 415px;
  background-color: #414141;
  display: flex;
  align-items: center;
  justify-content: space-around;

  #footerContent{

    li{
      font-size: 1.5em;
      color: #808080;
      margin-top: 50px;
    }

    #footerIcon{
      height: 50px;
      width: 50px;
      background: url('../css/imgs/Facebook-Icon-Grijs.png') no-repeat;
      background-size: cover;
      position: relative;
      top: -37px;
      left: 700px;

      &:hover{
          cursor: pointer;
      }
      
    }
  }
}
