// This is for the NavBar

//VARIABLES
$navBarHeight: 75px;
$navBarBorderStyle: 1px solid #E5E5E5;

//HIGH LEVEL ELEMENTS

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  li{
    height: 100%;
    margin: 0 1px;
    padding: 20px;
    color: #FFF;
    font-size: 1.7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;

    &:hover{
      color: #BBB;
    }

    ul{
      height: 100%;
      width:  100%;
      display: flex;

    }
  }
}

//PLACEHOLDERS

// ID's
#navBar{
  height: $navBarHeight;
  width:  100vw;
  display: flex;
  justify-content: flex-end;
  padding: 0px 5px;
  box-sizing: border-box;
  border-bottom: $navBarBorderStyle;

  #navBarContent{
    height: 100%;
    width:  auto;
    display: flex;

  }
}
