// This is the code for the sidekicks

// IDs

#sideKick1{
  height: 363px;
  width: 50vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  border: solid;
  border-color: #f00;
  top: 777px;
}

#sideKick2{
  height: 363px;
  width: 50vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  border: solid;
  border-color: #f00;
  top: 414px;
  left: 720px;
}
